# Ignore R stuff
################
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore system files and directories
#####################################
.vscode/
.DS_Store

# Ignore loom files
###################
*.loom

# Ignore PDF files
##################
*.pdf
