# Ignore R stuff
################
.Rproj.user
.Rhistory
.RData
*.Rda
.Ruserdata

# Ignore system files and directories
#####################################
.vscode/
.DS_Store

# Ignore loom and HDF5 files
############################
*.loom
*.h5

# Ignore PDF files
##################
*.pdf
